body {
    max-width: 1600px;
    margin: auto;
    padding: 0 10px;
    font: 15px/1.5 -apple-system,BlinkMacSystemFont,"avenir next",avenir,"Segoe UI","lucida grande","helvetica neue",helvetica,"Fira Sans",roboto,noto,"Droid Sans",cantarell,oxygen,ubuntu,"franklin gothic medium","century gothic","Liberation Sans",sans-serif;
}

body h1, body h2, body h3 {
    line-height: 1.2em;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

article img {
    max-width: 100%;
}

nav {
    clear: both;
}
nav ul {
    padding-left: 0;
}
nav li {
    display: inline;
    list-style: none;
    padding-right: 1em;
    font-size: 1.2em;
}
nav a {
    outline: #d33682 solid 1px;
    padding: 0.25em 0.5em;
}

hr {
    width: 1.5em;
    margin: 1.5em auto;
}

